.message-container-wrapper {
  height: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-right: 7px;
}

.message-container {
  margin-top: 10px;
}

.message-overlay {
  position: absolute;
  inset: 0;
  z-index: 0;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

.system-message-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.system-message {
  background-color: #55667758;
  border-radius: 100px;
  text-align: center;
  color: white;
  padding: 2px 15px;
  font-size: 14px;
}
.my-message-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.my-message {
  background-color: #494949b3;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
  font-size: 0.875em;
}

.your-message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.your-message-container > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.your-message {
  background-color: #1d1d1df2;
  opacity: 0.8;
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
  font-size: 0.875em;
  color: #fff;
}

.profile-image {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  margin-right: 10px;
}
